#!/usr/bin/make -f
export DH_VERBOSE = 1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed
PACKAGE = $(shell dh_listpackages)

%:
	dh $@ --with systemd

override_dh_auto_build:
	nimble build_prod

override_dh_auto_install:
	mkdir -p $(CURDIR)/debian/$(PACKAGE)/usr/bin
	cp distrobadges $(CURDIR)/debian/$(PACKAGE)/usr/bin

override_dh_auto_test:
	true
